<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Info</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="text-center">
    <h1>Update Staff Info</h1>
      <!--  NOTE: action will be the route, method will be the HTTP verb-->
      <form action="/staff/<%=staff._id%>?_method=PUT" method="POST">
        <h6>Title</h6>
        <input style="width: 500px;" type="text" name="title" value="<%=staff.title%>" />
        <h6>Name</h6>
        <input style="width: 500px;" type="text" name="name" value="<%=staff.name%>"/>
        <h6>Image</h6>
        <input style="width: 500px;" type="text" name="img" value="<%=staff.img%>"/>
        <h6>Job</h6>
        <input style="width: 500px;" type="text" name="job" value="<%=staff.job%>"/>
        <h6> Tasks</h6>
        <input style="width: 500px;" type="text" name="tasks" value="<%=staff.tasks%>"/>
        <br>
        <input type="submit" value="Update"/>
      </form>
      </div>
    </body>
</html>
